.footer {  
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 10vh;
    height: 2vh;
    color: rgb(168, 168, 168);
    background-color: rgb(37,37,37);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-flow: space-between;
    align-items: center;
}

.footertext {
    margin-right: 2em;
    margin-left: 2em;

}