.footertext {
    text-align: center;
}

.footerform {
    padding-bottom: 1em;
}

.footerbutton {
    width: 7vw;
    border-radius: 1px;
}

.email {
    margin-left: 1vw;
    width: 19vw;
    border-radius: 1px;
}

.message {
    margin-left: 1em;
    margin-right: 1em;
    width: 68vw;
    border-radius: 1px;
}
