.default-styles {
  /* changes alignment for all navbar tabs */
  text-align: center;
  color: var(--white-color);
  background-color: var(--dark-color);
}

.App-header {
  background-color: var(--dark-color);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--white-color);
}

.red {
  color: var(--red-primary);
}

/* Global Styles */
:root {
  --red-primary: #c10000;
  --red-secondary: #ff4949;
  --gray-color: #dedede;
  --white-color: #eeeeee;
  --dark-color: #252525;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

.item{
  border-bottom-style: solid; 
  border-bottom-color: var(--white-color);
  border-bottom-width: 4px;
}

.footer{
  min-height: 20vh;
  color: var(--white-color);
}
img{
  display: block;
  margin-bottom:20px ;
}